.cardContainer {
    gap: 10px;
    padding: 10px;
    background-color: rgb(46, 48, 68);
    display: flex;
    align-items: center;
}

.ch-thumbnail {
    width: 160px;
    height: 120px;
}

.ch-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 8px;
}

.ch-metrics-container {
    display: grid;
    grid-template-columns: 2fr, 1fr, 1fr, 1fr;
    font-size: 0.9rem;
    padding-top: 20px
}

.metric {
    display: flex;
    align-items: center;
    gap: 6px;

    background-color: rgba(255,255,255,0.04);
    padding: 6px 10px;
    border-radius: 6px;

    font-size: 0.85rem;
    color: rgba(255,255,255,0.85);
}

.metric-path .path-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}
